.idea
.ipynb_checkpoints
**/__pycache__/
extra/cache/models
extra/outputs/composers_em_eval/*_detailed.jsonl
runs/**/checkpoints
runs/**/logs/stderr.json
runs/**/logs/stdout.json
runs/test
pipeline/data/extension/token_dist.json
scripts/outputs/optimal_retrieve_indexation/raw
wandb
venv
main.ipynb
main.py
!.gitkeep
